<style>
  i:hover {
    cursor: pointer;
  }
</style>
<section class="flex justify-content-between align-items-center">
  <h2 class="m-4">Cripto Monedas</h2>
  <div class="p-input-icon-right mt-4 mr-6">
    <i class="pi pi-search mr-1 pl-2 border-start" (click)="buscarCriptos()"></i>
    <p-chips [(ngModel)]="busqueda" separator="," (keyup.enter)="buscarCriptos()" (onRemove)="buscarCriptos()" placeholder="ej: BTC,ETH, ..."></p-chips>
 </div>
</section>
<hr>
<app-tabla-criptos [criptos]="criptos"></app-tabla-criptos>
